body {
  background-color: #212121;
  color: #e4e4e4;
  font-family: Verdana;
}

p {
  font-family: Didot;
}

a,
a:hover,
a:visited,
h3,
h4 {
  color: #ce8500;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #a2a1a1;
  margin: 1em 0;
  padding: 0;
}

.rbt {
  height: 40px;
}

.leaflet-top,
.leaflet-bottom {
  z-index: 995;
}
